@import "tailwindcss";

@theme {
  --color-akram-cyan: #C3EBFA;
  --color-akram-cyan-light: #EDF9FD;
  --color-akram-purple: #CFCEFF;
  --color-akram-purple-light: #F1F0FF;
  --color-akram-yellow: #FAE27C;
  --color-akram-yellow-light: #FEFCE8;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}
.react-calendar__tile--active{
background-color: #C3EBFA !important;
color: black !important;
}
.react-calendar__navigation__label__labelText{
  font-weight: 600 !important;
}